.portfolio{
    &::before{
        content: "";
        display: block;
        height: 100vh;
        width: 100vw;
        background-color: $brandcolor2; 
        position: fixed;
        top: 100%;
        z-index: 5;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-left: 1px;
        margin-right: 1px;
    }
    
    .ao-nav{
        list-style: none;
        padding: 0;
    }

    .first-element-page{
        margin-top: -24px;
        margin-bottom: 0;
        padding: 4px 0;
        display: flex;
        gap: 12px;
        line-height: 1;
        z-index: 11;
        position: relative;
        background: rgba(255, 252, 245, 0.8);
        backdrop-filter: blur(6px);
    }
    
    .hero{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        animation: in ease-out .7s;

        p{
            margin-bottom: 0;
        }

        .title{
            font-family: $font-title;
            margin-bottom: 20vh;
            margin-top: 40vh;
            font-weight: 400;

            @media(max-width: 992px){
                font-size: 9vw;
            }

            @media(min-width: 993px){
                font-size: $size-font-title;
            }
        }
    }

    main{
        .ao-nav{
            border-top: 1px solid $brandcolor2;
            border-bottom: 1px solid $brandcolor2;
            z-index: -1;

            li{
                &:last-child{
                    margin-bottom: 0;
                }
            }

            a{
                font-family: $font-title;
                line-height: 100%;
                display: block;
                font-weight: 500;
                padding-top: 3vh;
                padding-bottom: 3vh;
                font-size: $size-font-nav;
                border-top: 1px solid $brandcolor2;
                text-decoration: none;
            }

            @media (max-width: 992px) {
                a{
                    font-size: 14vw;
                }
            }
        } 
    }

    .my-content{
        padding-top: 20vh;   
    }

    .ao-content{
        margin: 10vh 1px 0 1px;
        padding: 10vh 0 10vh 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: $brandcolor2;
        z-index: 2;
        position: relative;

        a{
            color: $brandcolor3;
        }

        h1,
        h2,
        p{
            color: $brandcolor3;
        }

        h1,
        h2{
            font-size: 36px;
        }

        p{
            margin-bottom: 10vh;
        }
    }

    .ao-project-list{
        padding: 0;
        margin: 0;
        list-style: none;

        a{
            font-size: 36px;
            color: $brandcolor2;
            font-family: $font-title;
            margin-bottom: 40px;
        }
    }

    .ao-input{
        min-height: 72px;
        position: relative;
        background-color: #EEECE8;
        border-top: 1px solid $brandcolor3;

        .ao-textarea{
            resize: both;
            overflow: scroll;
        }
    
        .ao-form-label{
            position: absolute;
            margin-bottom: 0;
            opacity: .4;
            top: 50%;
            translate: 0 -50%;
            left: 24px;
            z-index: 1;
        }
    
        .ao-form-control{
            position: absolute;
            background: transparent;
            border: none;
            height: 100%;
            padding: 16px 0 0 24px;
            overflow: auto;

            &.ao-textarea{
                padding-top: 34px;
            }

            &:focus ~ .ao-form-label,
            &:valid ~ .ao-form-label{
                transition: 0.3s ease-in-out all; 
                top: 32%;
                font-size: 14px;
            } 
        }
    }

    .radius-top-left-right-10{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .radius-bottom-left-right-10{
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .ao-btn{
        padding: 8px 24px;
        background: #3E5FAA;
        backdrop-filter: blur(6px);
        border-radius: 2px;
        font-size: 18px;
        font-weight: 400;
        color: $brandcolor3;
        text-decoration: none;
    }

    .element-in{
        animation: in-top-bottom .8s ease-out;
    }

    @keyframes in-top-bottom {
        from {
          translate: 0 -100px;
          opacity: 0;
        }
      
        to {
            translate: 0 0px;
            opacity: 1;
        }
    }
}

@keyframes in {
    from{
        translate: 0 40px;
        opacity: 0;
    }

    to{
        translate: 0 0;
        opacity: 1;
    }
}