body{
    background-color: $brand-color-3;
    color: $brand-color-2;
    font-family: $font-text;
    font-size: $size-font-text;
    font-weight: 300;
    font-optical-sizing: auto;
}

.portfolio{
    z-index: 1;
    position: relative;
    
    p{
        line-height: 160%;
        margin-bottom: 32px;
    }
    
    a{  
        font-size: $size-font-text;
        font-family: $font-text;
        color: $brand-color-4;
        position: relative;
        font-weight: 500;
        text-decoration-style: solid;
    }

    b{
        font-weight: 600;
    }

    img{
        width: 100%;
    }
    
    h1,
    h2,
    h3{
        font-family: $font-title;
        font-optical-sizing: auto;
    }

    main{
        background-color: $brand-color-3;
        padding-bottom: 22.22vh;
        min-height: 100vh;

        .hero{
            padding-top: 20dvh;

            @media (min-width: 993px) {
                padding-top: 40dvh;
                padding-bottom: 10dvh;
            }
        }

        .wrap-details{
            height: 100%;
            padding-bottom: 40px;

            @media (min-width: 993px) {
                /* padding-top: 22.22vh; */
            }
        }

        .skills{
            position: sticky;
            top: 22.22vh;

            @media (max-width: 992px) {
                display: flex;
                gap: 12px;

                picture{
                    width: 20%;

                    ~ div{
                        width: 80%;
                        line-height: 100%;

                        b{
                            line-height: 160%;
                            margin-bottom: 0;
                            line-height: 1;
                        }

                        p{
                            display: inline;
                            font-size: 16px;
                        }
                    }
                }
            }

            picture{
                display: block;
                @media (min-width: 993px){
                    margin-bottom: 40px;
                }
            }

            b{
                display: block;
                margin-bottom: 20px;
            }

            p{
                margin-bottom: 12px;
            }
        }

        #meet-andre{
            padding-top: 140px;

            @media (min-width: 993px) {
                padding-top: 22.22vh;   
            }
        }
    }

    .mb-0{
        margin-bottom: 0;
    }

    /*
    Bootstrap change
    */
    .row>*{
        padding-left: 12px;
        padding-right: 12px;
    } 

    .my-title,
    .my-subtitle{
        color: $brand-color-2;
        line-height: 130%;
        font-weight: 400;
        margin-bottom: 40px;
        letter-spacing: -2px;
    }

    .my-title{
        font-size: $size-font-title; 
        font-weight: 400;
        line-height: 1.2;
        @media (max-width: 992px) {
            font-size: 40px;
        }
    }

    .my-subtitle{
        font-size: $size-font-subtitle;
        @media (max-width: 992px) {
            font-size: 32px;
        }
    }

    .my-list-links{
        padding: 0;
        list-style: none;
        display: flex;
        gap: 40px;
        margin-bottom: 40px;

        @media (max-width:992px) {
            flex-direction: column;
        }

        a{
            &::before{
                content: "";
                width: 8px;
                height: 8px;
                position: relative;
                display: block;
            }
        }
    }

    .external-link{
        text-decoration: none;
        display: flex;
        align-items: center;

        &:before{
            content: "";
            width: 8px;
            height: 8px;
            display: inline-block;
            margin-right: 12px;
            background-image: url('data:image/svg+xml,<svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H6H8V2L8 8H6V4H4V2H0V0ZM2 6H4V4H2V6ZM2 6V8H0V6H2Z" fill="%233E5FAA"/></svg>');
        }
    }

    .wrap-form{
        @media (min-width: 993px) {
            display: grid;
            grid-template: 'col-1 col-2';    
        }

        
        .first{
            grid-area: col-1;

            .ao-input:nth-child(1){
                border-top-left-radius: 10px;
                @media (max-width: 992px) {
                    border-top-right-radius: 10px;
                }
            }

            .ao-input:nth-child(2){
                border-top: 0;
                @media (min-width: 993px) {
                    border-bottom-left-radius: 10px;
                }
            }
        }

        .before{
            grid-area: col-2;
        }
    }

    .ao-input{
        min-height: 72px;
        position: relative;
        background-color: $brand-color-3;
        border: 1px solid $brand-color-4;

        .ao-textarea{
            resize: both;
            overflow: scroll;
        }
    
        .ao-form-label{
            position: absolute;
            margin-bottom: 0;
            opacity: .4;
            top: 50%;
            translate: 0 -50%;
            left: 24px;
            z-index: 1;
        }
    
        .ao-form-control{
            position: absolute;
            background: transparent;
            border: none;
            height: 100%;
            padding: 16px 0 0 24px;
            overflow: auto;

            &:focus ~ .ao-form-label,
            &:valid ~ .ao-form-label{
                transition: 0.3s ease-in-out all; 
                top: 32%;
                font-size: 14px;
            } 
        }
    }

    .ao-text-area{        
        border-bottom-right-radius: 10px;

        @media (max-width: 992px) {
            border-top: 0;
            border-bottom-left-radius: 10px;
        }

        @media (min-width: 993px) {
            border-left: 0;
            min-height: 100%;
            border-top-right-radius: 10px;
        }

        .ao-form-control{
            top: 0;
            padding-top: 34px;

            &:focus ~ .ao-form-label,
            &:valid ~ .ao-form-label{
                transition: 0.3s ease-in-out all; 
                top: 22px;
                font-size: 14px;
            } 
        }

        .ao-form-label{
            top: 35px;
        }
    }

    .ao-link{
        margin-top: 40px;
        margin-bottom: 80px;

        a{
            display: flex;
            align-items: center;
            text-decoration: none;
            gap: 12px;

            svg{
                translate: 0 2px;
            }
        }
        
        &.anchor{

            svg{
                rotate: 90deg;
            }
        }
    }

    .ao-modal{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(78, 64, 31, 0.2);
        backdrop-filter: blur(10px);
        z-index: 10;

        .ao-modal-dialog{
            position: absolute;
            background-color: $brand-color-3;
            max-width: 90vw;
            height: 100%;
            top: 0;
            right: 0;
            overflow: hidden;

            @media (max-width: 992px) {
                max-width: 100%;
                margin: 12px 12px 0 12px;
            }

            .ao-modal-header{
                padding: 24px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
                position: sticky;
                top: 0;
                z-index: 1;
                background-color: $brand-color-3;

                &::before{
                    content: "";
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: $brand-color-2;
                    bottom: 0;
                    left: 0;
                    opacity: .1;
                }

                span{
                    font-size: 36px;
                }

                a{
                    text-decoration: none;
                }
            }

            .ao-modal-content{
                padding: 24px;
                overflow: scroll;
                height: 100vh;

                .ao-list-projects{
                    padding: 0;
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    display: flex;
                    gap: 80px;
                    flex-flow: wrap;

                    li{
                        width: 100%;
                        @media (min-width: 993px) {
                            flex-basis: 25%;
                        }
                    }
                    
                    .item-project{
                        display: flex;
                        gap: 20px;
                        text-decoration: none;
                        flex-direction: column;

                        .name-project{
                            display: flex;
                            align-items: center;
                            gap: 12px;

                            svg{
                                translate: 0 2px;
                            }
                        }
                    }
                }

                .tell-me{
                    text-decoration: none;
                    padding: 80px 0;
                    display: block;
                }
            }
        }
    }

    .radius-top-left-10{
        border-top-left-radius: 10px;
    }

    .radius-top-right-10{
        border-top-right-radius: 10px;
    }

    .radius-bottom-left-10{
        border-bottom-left-radius: 10px;
    }

    .radius-bottom-right-10{
        border-bottom-right-radius: 10px;
    }

    .ao-btn{
        padding: 8px 24px;
        border-radius: 4px;
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;

        &-border{
            border: 1px solid #3E5FAA;
            background-color: $brand-color-3;
            backdrop-filter: blur(6px);
            color: #3E5FAA;
        }

        &-fill{
            background-color: #3E5FAA;
            color: $brand-color-3;
        }
    }

    .element-in{
        animation: in-top-bottom .8s ease-out;
    }

    @keyframes in-top-bottom {
        from {
          translate: 0 -100px;
          opacity: 0;
        }
      
        to {
            translate: 0 0px;
            opacity: 1;
        }
    }
}

.in-up{
    animation: in-up ease-out .6s;
}

.in-down{
    animation: in-down ease-in .6s;
}

.in-left{
    animation: in-left ease-in .3s;
}

@keyframes in-up {
    from{
        translate: 0 40px;
        opacity: 0;
        filter: blur(2px);
    }

    to{
        translate: 0 0;
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes in-down {
    from{
        translate: 0 -20px;
        opacity: 0;
        filter: blur(2px);
    }

    to{
        translate: 0 0;
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes in-left {
    from{
        translate: 20px 0;
        opacity: 0;
        filter: blur(2px);
    }

    to{
        translate: 0 0;
        opacity: 1;
        filter: blur(0);
    }
}