body{
    background-color: $brand-color-3;
    color: $brand-color-2;
    font-family: $font;
    font-size: 16px;
    font-weight: 300;
    font-optical-sizing: auto;
}

.portfolio{
    z-index: 1;
    position: relative;

    b{
        font-weight: 600;
    }

    img{
        width: 100%;
    }
    
    h1,
    h2,
    h3{
        font-optical-sizing: auto;
    }

    .mb-0{
        margin-bottom: 0;
    }

    /*
    Bootstrap change
    */
    .row>*{
        padding-left: 12px;
        padding-right: 12px;
    } 

    .wrap-form{
        @media (min-width: 993px) {
            display: grid;
            grid-template: 'col-1 col-2';    
        }

        
        .first{
            grid-area: col-1;

            .ao-input:nth-child(1){
                border-top-left-radius: 10px;
                @media (max-width: 992px) {
                    border-top-right-radius: 10px;
                }
            }

            .ao-input:nth-child(2){
                border-top: 0;
                @media (min-width: 993px) {
                    border-bottom-left-radius: 10px;
                }
            }
        }

        .before{
            grid-area: col-2;
        }
    }

    .ao-input{
        min-height: 72px;
        position: relative;
        background-color: $brand-color-3;
        border: 1px solid $brand-color-4;

        .ao-textarea{
            resize: both;
            overflow: scroll;
        }
    
        .ao-form-label{
            position: absolute;
            margin-bottom: 0;
            opacity: .4;
            top: 50%;
            translate: 0 -50%;
            left: 24px;
            z-index: 1;
        }
    
        .ao-form-control{
            position: absolute;
            background: transparent;
            border: none;
            height: 100%;
            padding: 16px 0 0 24px;
            overflow: auto;

            &:focus ~ .ao-form-label,
            &:valid ~ .ao-form-label{
                transition: 0.3s ease-in-out all; 
                top: 32%;
                font-size: 14px;
            } 
        }
    }

    .ao-text-area{        
        border-bottom-right-radius: 10px;

        @media (max-width: 992px) {
            border-top: 0;
            border-bottom-left-radius: 10px;
        }

        @media (min-width: 993px) {
            border-left: 0;
            min-height: 100%;
            border-top-right-radius: 10px;
        }

        .ao-form-control{
            top: 0;
            padding-top: 34px;

            &:focus ~ .ao-form-label,
            &:valid ~ .ao-form-label{
                transition: 0.3s ease-in-out all; 
                top: 22px;
                font-size: 14px;
            } 
        }

        .ao-form-label{
            top: 35px;
        }
    }

    .radius-top-left-10{
        border-top-left-radius: 10px;
    }

    .radius-top-right-10{
        border-top-right-radius: 10px;
    }

    .radius-bottom-left-10{
        border-bottom-left-radius: 10px;
    }

    .radius-bottom-right-10{
        border-bottom-right-radius: 10px;
    }

    .ao-btn{
        padding: 8px 24px;
        border-radius: 4px;
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;

        &-border{
            border: 1px solid #3E5FAA;
            background-color: $brand-color-3;
            backdrop-filter: blur(6px);
            color: #3E5FAA;
        }

        &-fill{
            background-color: #3E5FAA;
            color: $brand-color-3;
        }
    }

    .element-in{
        animation: in-top-bottom .8s ease-out;
    }

    @keyframes in-top-bottom {
        from {
          translate: 0 -100px;
          opacity: 0;
        }
      
        to {
            translate: 0 0px;
            opacity: 1;
        }
    }
}

.in-up{
    animation: in-up ease-out .4s;
}

.in-down{
    animation: in-down ease-in .4s;
}

.in-left{
    animation: in-left ease-in .3s;
}

.in-right{
    animation: in-right ease-in .3s;
}

@keyframes in-up {
    from{
        translate: 0 40px;
        opacity: 0;
        filter: blur(2px);
    }

    to{
        translate: 0 0;
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes in-down {
    from{
        translate: 0 -20px;
        opacity: 0;
        filter: blur(2px);
    }

    to{
        translate: 0 0;
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes in-left {
    from{
        translate: 20px 0;
        opacity: 0;
        filter: blur(2px);
    }

    to{
        translate: 0 0;
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes in-right {
    from{
        translate: -20px 0;
        opacity: 0;
        filter: blur(2px);
    }

    to{
        translate: 0 0;
        opacity: 1;
        filter: blur(0);
    }
}


.ao-border-top{
    border-top: 1px solid rgba($color: #5C4A20, $alpha: .4);
    padding: 80px 0;
}

.big-text{
    font-size: 100px;
    font-weight: 400;
    line-height: 110%;
    margin-bottom: 0;

    @media (max-width:992px) {
        font-size: 48px;
    }

    a{
        font-size: 100px;
        font-weight: 500;
        line-height: 110%;

        @media (max-width:992px) {
            font-size: 52px;
        }
    }
}

.medium-text{
    font-size: 40px;
    font-weight: 400;
    line-height: 110%;
    margin-bottom: 0;

    @media (max-width:992px) {
        font-size: 24px;
    }
}

.color-text-1{
    color: #5C4A20;
    text-decoration: none;

    a{
        text-decoration: none;
    }
}

.color-text-2{
    color: #949494;
    text-decoration: none;

    a{
        text-decoration: none;
    }
}

.list-summary{
    padding: 0;
    
    .item-summary{
        margin: 72px 0;

        @media (max-width: 992px) {
            margin: 28px 0;
        }
    }
}

iframe{
    aspect-ratio: 16 / 9;
    width: 100% !important;
    margin-top: 72px;
    margin-bottom: 72px;
}

.mb-72{
    margin-bottom: 72px !important;
    display: block;

    @media (max-width: 992px) {
        margin-bottom: 52px !important;
    }
}

.mt-72{
    margin-top: 72px !important;
    display: block;
}