body{
    background-color: $brandcolor3;
    color: $brandcolor2;
    font-family: $font-text;
    font-size: $size-font-text;
    font-weight: 300;
    font-optical-sizing: auto;
}

p{
    line-height: 160%;
    margin-bottom: 10vh;

    a{
        border-bottom: 2px solid $brandcolor2;
    }
}

a{
    font-family: $font-text;
    color: $brandcolor2;
    position: relative;
    display: inline-flex;
    text-decoration: none;
    font-weight: 600;
}

img{
    width: 100%;
}

h1,
h2,
h3{
    font-family: $font-title;
    font-weight: 400;
    font-optical-sizing: auto;
    line-height: 120%;
    font-size: 36px;
    margin-bottom: 10vh;
}

/*
Bootstrap change
*/
.row>*{
    padding-left: 12px;
    padding-right: 12px;
} 