/*
Color
*/
$brandcolor1: #FFB607;
$brandcolor2: #181611;
$brandcolor3: #FFFCF5;

/*
Font name
*/
$font-text: "Sarabun", sans-serif;
$font-title: "Epilogue", sans-serif;

/*
Font size
*/
$size-font-title: 3.9vw;
$size-font-nav: 120px;
$size-font-text: 20px;

/*
Radius
*/
$radius: 10px;